.termchoose
{
  color: black;
  border: none;  
  font-weight: 500;
  font-size: 15px;
}
.hasDatepicker
{
  /*width: fit-content;*/
}
.ui-datepicker
{
  display: table;  
}
.ui-datepicker > div
{
  display: table-cell;
}
.ui-datepicker-group-first .ui-datepicker-calendar
{
  margin-right: 2px;
}
.ui-datepicker-group-last .ui-datepicker-calendar
{
  margin-left: 2px;  
}
.ui-datepicker a
{
  text-decoration: none;
  color: black;
}
.ui-datepicker table
{
  margin: 0px;
  text-align: center;
  border-collapse: collapse;
  font-size: 1em;
  cursor: pointer;
}

.ui-datepicker table th
{
  color: black;
}

.ui-datepicker table td
{  
  padding: 0px;
  border: 1px solid rgba(170,170,170,1);
}


.ui-datepicker .ui-state-default
{
  margin: 0;
  vertical-align: central;
  line-height: 22px;
  display: table-cell;
  width: 30px;
  height: 30px;  
  background: white;
}
.ui-datepicker td .ui-state-active
{
  outline-style: inset;
  outline-color: rgba(255,100,10, 1);
  outline-width: 2px;
}
.ui-datepicker td .ui-state-active
{
  font-weight: bold;
}
.ui-datepicker .ui-state-disabled > *
{
  background-color: rgb(200, 200, 200);
}
.ui-datepicker .ui-datepicker-other-month > *
{
  color: rgb(150,150,150);
}
.daytermview .dtr-conn .dtr-header,
.ui-datepicker-header
{  
  height: 30px;
  letter-spacing: 1px;
  font-size: 15px;
  font-family: "Myriad Pro", sans-serif; 
  overflow: hidden;
  /*background: rgba(40,130,255,1);*/
  background: #2e84a1;
  /*
  -webkit-box-shadow: 0px 3px 7px -1px rgba(0,0,0,1);
     -moz-box-shadow: 0px 3px 7px -1px rgba(0,0,0,1);
          box-shadow: 0px 3px 7px -1px rgba(0,0,0,1); 
  */
  color: white;
  margin-bottom: 5px;
  font-weight: initial;
}
.ui-datepicker-header .ui-state-hover {
  cursor: pointer;
  background: rgba(0,0,0,0.2);
}
.ui-datepicker-title
{
  text-align: center;
  line-height: 30px;
  font-weight: normal;
  font-size: 1.1em;
}
.ui-datepicker-prev, .ui-datepicker-next 
{  
  background: transparent;
  border-radius: 0;
  font-weight: bold;
  border: none;
  display: inline-block;
  height: 30px;
  line-height: 33px;
  text-align: center;
  width: 30px;
  /*float: right;*/
}
.ui-datepicker-prev
{
  float: left;
  
}
.ui-datepicker-next
{
  float: right;
}

.termchoose
{
  display: table;    
  padding: 0;
  margin: 0;
  background: rgb(240,240,240);
  margin-top: 10px;
  margin-bottom: 20px;
}
.daytermview
{  
  display: none;     
}
.daytermview .dtr-conn
{
  display: table;
  margin: 0;
  padding: 0;    
}
.daytermview .dtr-conn .dtr-header
{
  margin: 0;
  padding: 0;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 31px;  
  border-left: 2px solid rgba(240,240,240,1);
  min-width: 150px;
  text-align: center;
}
.daytermview .dtr-conn .dtr-content
{
  color: black;
  font-size: 16px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 2px;
  /*border: 1px solid red;  */
  overflow-y: auto;
}
.daytermview .dtr-conn .dtr-content .dtr-day-term
{
  border: 1px solid rgba(150,150,150,1);  
  height: 25px;
  line-height: 25px;
  margin-top: 3px;
  font-weight: 400;  
  background: white;
  cursor: pointer;
}
.daytermview .dtr-conn .dtr-cont-header
{
  color: black;  
  font-weight: bold;
  line-height: 24px;
  margin-top: 3px;
  height: 21px;
  text-align: center;
}
.daytermview .dtr-conn .dtr-content .dtr-day-term.dtr-state-selected
{
  /*border: solid 2px rgba(255,100,10, 1);*/
  
  outline-style: inset;
  outline-color: rgba(255,100,10, 1);
  outline-width: 2px;
  
  
  font-weight: bold;
  /*
   -webkit-box-shadow:inset 0px 0px 0px 1px rgba(255,100,10, 1);
      -moz-box-shadow:inset 0px 0px 0px 1px rgba(255,100,10, 1);
           box-shadow:inset 0px 0px 0px 1px rgba(255,100,10, 1);
  */  
}
.res-form-tab
{
  font-size: 15px;
}
.res-form-tab table tr td
{
  padding: 2px;
}
.res-form-tab table tr td:first-child
{
  vertical-align: top;
  /*text-align: right;*/
}
.res-form-tab table tr td textArea
{
  resize: vertical; 
  width: 300px;
  min-height: 100px;
}
.res-form-tab input[type=submit]
{
  padding: 2px;
  cursor: pointer;
}
.res-form-alert
{
  color: red;
}
.res-form-requrie > input[type=text]
{
  background-color: rgb(255,130,130); 
}
.res-form-requrie > input[type=text].res-form-fadeoutcolor
{
  background-color: rgb(255,255,255); 
 -webkit-transition: background-color 350ms linear;
    -moz-transition: background-color 350ms linear;
      -o-transition: background-color 350ms linear;
     -ms-transition: background-color 350ms linear;
         transition: background-color 350ms linear;
}
.spinner
{
  position: fixed;  
}
.spinner > img
{
  height: 50px;
}
.ui-datepicker .ui-datepicker-today > *
{
  background: rgb(250,250,170);
}
.ui-datepicker .ui-datepicker-today.ui-state-disabled > *
{
  background: rgb(230,230,150);
}